body {
  width: 500px;
  height: 400px;
  margin: 0 auto;
}

h5 {
  font-family: roboto;
}

.active-currency {
  border: 2px solid grey;
}


.mode {  
  color: white;
  background-color: rgb(38, 166, 148);
  font-size: 1.6em;
  box-shadow: none;
  padding: 50px!important;
}

.mode.active {
  background-color: #4db6ac;
  box-shadow: none; 
  border-bottom: 4px solid #ee6e73;
  transition: background-color 0.2s linear;
}
