<!DOCTYPE html>
<html>
    <head>
        <title>
            Welcome to Vue
        </title>
        <script src="./js/vue.js">
        </script>
        <script src="./js/vue-resource.min.js">
        </script>
        <script src="./js/accounting.js">
        </script>
        <script src="./js/moment.js">
        </script>
        <link href="css/materialize.min.css" rel="stylesheet">
            <link href="css/style.css" rel="stylesheet">
            </link>
        </link>
    </head>
    <body>          
      <nav class="nav-wrapper">
        <h5 class="center">
            Dollarsar Exchange Rate Converter
        </h5>
      </nav>

      <div id="app">
          <div class="row modes">
              <div class="col s6 center mode" 
                   v-bind:class="{active: isBuyMode }"
                   v-on:click="setBuyMode(true)">
                Buy
              </div>
              <div class="col s6 center mode"
                   v-bind:class="{active: !isBuyMode}"
                   v-on:click="setBuyMode(false)">
                Sell
              </div>
          </div>
          <div class="row">
            <div class="col s12">
                <div class="row">
                    <div class="col s3">
                        <div class="row">
                          <ul class="collection">
                            <li class="collection-item"
                                v-bind:class="{active: bank.bank_name == currency.bank_name}"
                                v-for="currency in message.currencies" v-on:click="setBank(currency)">
                              {{ currency.bank_name }}
                            </li>
                          </ul>
                        </div>
                    </div> 
                    <div class="col s9">
                        <div class="row">
                          <div class="col s9">
                            <input type="text" v-model="foreignAmount">
                          </div>
                          <div class="col s3">
                            <button class="red btn-floating btn-large" v-on:click="resetAmount()">Reset</button>
                          </div>
                          <div class="col s12">
                            <a class="btn-floating btn-small green waves-effect waves-light center"
                               v-bind:class="{'active-currency': currentCurrency == 'USD'}" 
                               v-on:click="setCurrency('USD')">
                              USD
                            </a>
                            <a class="btn-floating btn-small blue waves-effect waves-light center" 
                               v-bind:class="{'active-currency': currentCurrency == 'SGD'}"
                               v-on:click="setCurrency('SGD')">
                              SGD
                            </a>
                            <a class="btn-floating btn-small yellow waves-effect waves-light center" 
                               v-bind:class="{'active-currency': currentCurrency == 'EUR'}"
                               v-on:click="setCurrency('EUR')">
                              EUR
                            </a>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col s12">
                            <h4> <span v-bind:class="mmkColor + '-text'">{{ accounting.formatMoney(mmkAmount, "") }}</span> MMK </h4>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
          </div>
        </div>
        <script src="./js/popup.js">
        </script>
      </div>
    </body>
</html>
